p {
    background: rgba(255, 0, 0, 0.2);
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}
.first-div {
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.second-p {
    font-size: 24px;
}
.second-div {
    background-color: rgba(0, 255, 0, 0.3);
    font-weight: bold;
    font-size: 24px;
}
